{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}[Organization] View{% endblock %}</h1>
  <link rel="stylesheet" href="{{ url_for('bp_organization.static', filename='css/styles.css') }}">
{% endblock %}
<!-- make search bar for finding specific students/dates/etc, graph bar for the days of week and how many have been pulled since, common words for 341s input w/custom date range -->
{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="input-group w-50%">
        <input type="search" class="form-control rounded w" placeholder="Search for a thing with this" aria-label="Search" />
        <button type="button" class="btn btn-primary">Search</button>
      </div>
      <div onload="formChart()"></div>
      <canvas id="myChart" style="width:100%;max-width:600px;"></canvas>
    </div>

    <div class="col-md-6">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h2>Most common in 341s</h2>
        <h5 id="scrollspyHeading1">1st: [ ]</h5>
        <h5 id="scrollspyHeading2">2nd: [ ]</h5>
        <h5 id="scrollspyHeading3">3rd: [ ]</h5>
        <h5 id="scrollspyHeading4">4th: [ ]</h5>
        <h5 id="scrollspyHeading5">5th: [ ]</h5>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('bp_organization.static', filename='js/charts.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

{% endblock %}