{% extends 'base.html'%}
{% block title %}Student Profile Form{% endblock %}

{% block head_injection %}
<!-- <link href="{{ url_for('bp_student.static', filename='css/styles.css') }}" rel="stylesheet"> -->
{% endblock %}


{% block content %}
<div class="container mt-5">
    <!-- Home Button -->
    <div class="mb-4">
        <!-- Link to your home route, update as needed -->
        <a href="{{ url_for('bp_student.home') }}" class="btn btn-secondary">Home</a>
    </div>
    <!-- Student Information -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Student Profile</div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="middleInitial">Middle Initial</label>
                            <input type="text" class="form-control" id="middleInitial" name="middleInitial" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value="" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classFlight">Class Flight</label>
                            <input type="text" class="form-control" id="classFlight" name="classFlight" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" name="organization" value="" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rank">Rank</label>
                            <input type="text" class="form-control" id="rank" name="rank" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="payGrade">Military Pay Grade</label>
                            <input type="text" class="form-control" id="payGrade" name="payGrade" value="" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="arrivalTime">Time Arrived at Base</label>
                            <input type="text" class="form-control" id="arrivalTime" name="arrivalTime" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="currentMTL">Current MTL</label>
                            <input type="text" class="form-control" id="currentMTL" name="currentMTL" value="" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 341s and Reports Overview -->
    <div class="card">
        <div class="card-header bg-secondary text-white">341 Reports Overview</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total Discrepancy 341s</label>
                        <input type="text" class="form-control" id="discrepancyCount" value="" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total Excellence 341s</label>
                        <input type="text" class="form-control" id="excellenceCount" value="" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Resolved 341s</label>
                        <input type="text" class="form-control" id="resolvedCount" value="" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Unresolved 341s</label>
                        <input type="text" class="form-control" id="unresolvedCount" value="" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}