{% extends 'base.html'%}
{% block title %}Student Profile Form{% endblock %}

{% block head_injection %}
<link href="{{ url_for('bp_student.static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <!-- Home Button -->
    <div class="mb-4">
        <!-- need to add route for homepage in place of 'home' -->
        <a href="{{ url_for('bp_student.home') }}" class="btn btn-secondary">Home</a>
    </div>

    <!-- Form for adding student profile information -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Add Student Profile</div>
        <div class="card-body">
            <form id="addStudentProfileForm" method="POST" action="/submit">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="middleInitial">Middle Initial</label>
                            <input type="text" class="form-control" id="middleInitial" name="middleInitial" maxlength="1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classFlight">Class/Flight</label>
                            <input type="text" class="form-control" id="classFlight" name="classFlight">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" name="organization">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rank">Rank</label>
                            <input type="text" class="form-control" id="rank" name="rank" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="payGrade">Pay Grade</label>
                            <input type="text" class="form-control" id="payGrade" name="payGrade" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="arrivalTime">Date Arrived</label>
                            <input type="datetime-local" class="form-control" id="arrivalTime" name="arrivalTime" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="currentMTL">Current MTL</label>
                            <input type="text" class="form-control" id="currentMTL" name="currentMTL">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="studentPhase">Current Phase</label>
                    <select class="form-control" id="studentPhase" name="studentPhase" onchange="this.className = 'form-control ' + this.options[this.selectedIndex].className;">
                        <option value="" disabled selected>Select student phase</option>
                        <option value="green" class="phase-green">Phase I - Green Card</option>
                        <option value="white" class="phase-white">Phase II - White Card</option>
                        <option value="yellow" class="phase-yellow">Phase III - Yellow Card</option>
                        <option value="blue" class="phase-blue">Phase IV - Blue Card</option>
                        <option value="red" class="phase-red">Phase V - Red Card</option>
                    </select>
                </div>
                <div class="row mt-3">
                <div class="col-md-6 text-start">
                    <form action="{{ url_for('bp_student.save_profile', student_id=student.id) }}" method="post">
                        <input type="text" name="firstName" value="{{ student.user.first_name }}">
                        <input type="text" name="lastName" value="{{ student.user.last_name }}">
                        <input type="text" name="MiddleInitial" value="{{ student.user.middle_initial }}">
                        <input type="text" name="Rank" value="{{ student.user.grade }}">
                        <input type="text" name="ClassFlight" value="{{ student.user.ClassFlight }}">
                        <input type="text" name="Organization" value="{{ student.user.Organization }}">
                        <input type="text" name="MTL" value="{{ student.supervisor.first_name }} {{ student.supervisor.last_name }}">
    
                        <button type="submit">Save</button>
                    </form>               
                <div class="col-md-6 text-end">
                    <form action="{{ url_for('bp_student.delete_profile', student_id=student.id) }}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


