{% extends 'base.html'%}
{% block title %}Student Profile Form{% endblock %}

{% block head_injection %}
<link href="{{ url_for('bp_student.static', filename='css/base_styles.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Student Profile</div>
        <div class="card-body">
            <form id="addStudentProfileForm" method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            {{ form.first_name(class="form-control", id="firstName") }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="middleInitial">Middle Initial</label>
                            {{ form.middle_initial(class="form-control", id="middleInitial") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            {{ form.last_name(class="form-control", id="lastName") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classFlight">Class/Flight</label>
                            {{ form.class_flight(class="form-control", id="classFlight") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organization">Organization</label>
                            {{ form.organization(class="form-control", id="organization") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rank">Rank</label>
                            {{ form.rank(class="form-control", id="rank") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="payGrade">Pay Grade</label>
                            {{ form.pay_grade(class="form-control", id="payGrade") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="currentMTL">Current MTL</label>
                            {{ form.current_mtl(class="form-control", id="currentMTL") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="studentPhase">Current Phase</label>
                    {{ form.student_phase(class="form-control", id="studentPhase", onchange="this.className = 'form-control ' + this.options[this.selectedIndex].className;") }}
                </div>

                {% if current_user.user.role.role_permission in [0, 1, 2] %}
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% if student.has_341 %}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">341 Form Comments</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Comments: {{ student.comments }}</p>
                    <p>Date and Time: {{ student.datetime }}</p>
                    <p>Location: {{ student.location }}</p>
                    <p>Reporting Individual: {{ student.reporting_individual }}</p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>No 341s to display</p>
{% endif %}
</div>
{% endblock %}


